th,td
{
	font-size:12px;
	vertical-align: middle!important;
	text-align:center;
	/*width: 35px;*/
}
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }
.date-header
{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.table
{
	table-layout: fixed;

}
.table_header
{
}
thead 
{
	display: table-header-group;
}
.row
{
	margin-bottom:10px;
}
.present{
	color: green;
}
.absent{
	color:red;
}