/*
 * Style twaks
 * --------------------------------------------------
 */

.customised-table-condensed tr{
  border-top:1px solid #ecf0f1 !important;
}


#main_name{
  color:#34495e;
  width: 100%;
  height:100%;
  text-align: center;
  vertical-align: middle;
  font-family: 'Blackout';
}
.select-registration{
  background-color:white;
}
.removePaddingLeft{
  padding-left: 0px; !important
}

label{
  margin-bottom:0px; !important
}

.divider{
  margin-top:10px;
  margin-bottom:10px;
  border:0;
  border-top:1px solid #eeeeee;
  height:0;
}

legend{
  margin-bottom:10px; !important
}

 .iframe-modal{
  width:80%;
  max-height:80%;
}
.iframe-inner-modal{
  width:100%;
  height:100%;
}
.iframe{
  width:100%;
  height:100%;
}
.form_options{
  max-width: 800px;
}
.focusedInput {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}
body {
  font-size:13px;
  padding-top: 60px;
}
@media print{
  body
  {
    padding:0;
  }
}
footer p{
  margin:20px 0;
  padding:0 15px;
}
.editable{
  width:100%; height:auto; min-height:420px; border:1px solid silver; padding:10px;
}
.view_dimension{
  width:250px;
  height:250px;
}
.bs-sidebar h4{
  margin-left:5px;
  text-transform: uppercase;
}
.update{
  font-style: italic;
}
.table>tbody>tr>td{
  vertical-align: middle;
  cursor: pointer;
}
/*.row{
  margin-left:0;
  margin-right: 0;
}*/
.notifications{
  right: 0px;
}
#ques_theory, #ques_lab{
  margin-top: 20px;
}
/*
 * Off Canvas
 * --------------------------------------------------

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

 /* By default it's not affixed in mobile views, so undo that */
 .bs-sidebar.affix {
  position: static;
  height: 100%;
  margin-left: -15px; 
}

/* First level of nav */
.bs-sidenav {
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  /*background-color: #f7f5fa;*/
  background-color: #ffffff;
  border-radius: 0px;
  height: 100%;
  border-right: 1px silver solid;
  overflow: hidden;
}

/* All levels of nav */
.bs-sidebar .nav > li {
  display: block;
  color: #716b7a;
  padding-right:15px;
  padding-left: 12px;
}
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 2px dotted #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    /*    width: 303px;*/
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    /*top: 80px;*/
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px){
  .bs-sidebar.affix, .bs-sidebar.affix-bottom {
   width: 170px;
 }
}

@media screen and (min-width: 1200px) {
 /*Widen the fixed sidebar again */
 .bs-sidebar.affix-bottom,
 .bs-sidebar.affix {
  width: 200px;
}
}

@media screen and (min-width: 768px) {
 .bs-sidebar.affix {
  position: fixed;
  height: 100%;
}
}

.tooltip, .tooltip-inner{
  text-shadow:0 0 0 transparent;
}
.pagination{
  display:block;
  margin: 0;
}

.nav-tabs>>ul>>li>>a{
  color:#3a87ad;
}

.dataTable th.headerSort {
  background-image: url('../images/headerSort.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.dataTable th.headerSortUp {
  background-image: url('../images/headerSortUp.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.dataTable th.headerSortDown {
  background-image: url('../images/headerSortDown.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 21px;
}

.table>thead>tr>th{
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}

.panel-title-with-btn {
  margin-bottom: 10px;
}

.checkbox-horizontal{
  float: left;
  padding-right: 9px;
}
@media print  {
  body {
    font-size: 10px;
  }
  legend{
    font-size: 16px;
  }
  .page-break{
    page-break-after: always; 
    page-break-inside: avoid;
  }
}
/*@page{
  margin:0px ;
  }*/
table a, .table a{
  text-decoration: none;
}
.toolbar{
  background:rgb(247, 247, 247);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
div.ColVis {
  float: right;
  /*margin-bottom: 1em;*/
}

button.ColVis_Button,
ul.ColVis_collection li {
  position: relative;
  float: left;
  margin-top: 1px;
  margin-right: 3px;
  padding: 5px 8px;
  border: 1px solid #999;
  cursor: pointer;
  *cursor: hand;
  font-size: 0.88em;
  color: black !important;
  white-space: nowrap;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;

  -webkit-box-shadow: 1px 1px 3px #ccc;
     -moz-box-shadow: 1px 1px 3px #ccc;
      -ms-box-shadow: 1px 1px 3px #ccc;
       -o-box-shadow: 1px 1px 3px #ccc;
          box-shadow: 1px 1px 3px #ccc;

  /* Generated by http://www.colorzilla.com/gradient-editor/ */
  background: #ffffff; /* Old browsers */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* Opera 11.10+ */
  background:         linear-gradient(top, #ffffff 0%,#f3f3f3 89%,#f9f9f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.ColVis_Button:hover,
ul.ColVis_collection li:hover {
  border: 1px solid #666;
  text-decoration: none !important;

  -webkit-box-shadow: 1px 1px 3px #999;
     -moz-box-shadow: 1px 1px 3px #999;
      -ms-box-shadow: 1px 1px 3px #999;
       -o-box-shadow: 1px 1px 3px #999;
          box-shadow: 1px 1px 3px #999;

  background: #f3f3f3; /* Old browsers */
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* Opera 11.10+ */
  background:         linear-gradient(top, #f3f3f3 0%,#e2e2e2 89%,#f4f4f4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

button.ColVis_Button {
  height: 30px;
  padding: 3px 8px;
}

button.ColVis_Button::-moz-focus-inner { 
  border: none !important;
  padding: 0;
}

button.ColVis_Button:active { 
  outline: none;
}


div.ColVis_collectionBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1100;
}

ul.ColVis_collection {
  width: 150px;
  padding: 8px 8px 4px 8px;
  margin: 0;
  border: 1px solid #ccc;
  border: 1px solid rgba( 0, 0, 0, 0.4 );
  background-color: #f3f3f3;
  background-color: rgba( 255, 255, 255, 0.3 );
  overflow: hidden;
  z-index: 2002;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
       -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

ul.ColVis_collection li {
  position: relative;
  height: auto;
  left: 0;
  right: 0;
  padding: 0.5em;

  display: block;
  float: none;
  margin-bottom: 4px;
  
  -webkit-box-shadow: 1px 1px 3px #999;
     -moz-box-shadow: 1px 1px 3px #999;
      -ms-box-shadow: 1px 1px 3px #999;
       -o-box-shadow: 1px 1px 3px #999;
          box-shadow: 1px 1px 3px #999;
}

ul.ColVis_collection li {
  text-align: left;
}

ul.ColVis_collection li.ColVis_Button:hover {
  border: 1px solid #999;
  background-color: #f0f0f0;
}

ul.ColVis_collection li span {
  display: inline-block;
  padding-left: 0.5em;
  cursor: pointer;
}


ul.ColVis_collection li.ColVis_Special {
  border-color: #555;
  background: rgb(237,237,237); /* Old browsers */
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(214,214,214,1) 77%, rgba(232,232,232,1) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

ul.ColVis_collection li.ColVis_Special:hover {
  background: #e2e2e2; /* Old browsers */
  background: -webkit-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* Opera 11.10+ */
  background:         linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}


span.ColVis_radio {
  display: inline-block;
  width: 20px;
}

div.ColVis_catcher {
  position: absolute;
  z-index: 1101;
}

.disabled {
  color: #999;
}

.wsdc-modal-lg{
width:80%;
/*width:100% !important;
height:100% !important;
margin:0;*/
}

.modal-regno{
  cursor: pointer;
}
.dataTables_wrapper .panel-heading{
  margin:0 !important;
  border-radius: 0;
  padding:5px;
}

/*.dataTables_wrapper .panel-heading .row div {
  padding:0
}*/

.dataTables_wrapper .panel-heading .row label {
  margin:0;
}

.notification-container {
    left: 0;
    top: 0;
    margin: 0;
    font-family: arial, sans-serif;
    font-weight: bold;
    visibility: hidden;
    z-index: 8;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.notification-message {
    position: relative;
    display: inline-block;
    visibility: visible;
    font-size: 13px;
    padding: 6px 10px;
    background-color: #f9edbe;
    border: 1px solid #f0c36d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.notification-message button{
  margin-left:40px;
}

.notification-message a{
  margin-left:40px;
}
/*Attendance css*/
#dates-list > div .date-wise:hover{
  cursor: pointer;
  background: #0e83cd;
  color: white;
}
#dates-list > div .active{
  background: #ccc;
}
#dates-list > div .remove-date{
  margin-left: -14px;
}
#dates-list > div .edit-date{
  margin-left: 8px;
}
#dates-list > div .remove-date:hover{
  background: #CE6060;
}
#dates-list > div .edit-date:hover{
  background: #807BBD;
}
.datepicker {z-index: 1151 !important ;}
.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
.table-extra-condensed .input-sm{
   padding: 2px !important;
   height: 25px;
}
.table-extra-condensed>thead>tr>th, .table-extra-condensed>tbody>tr>th, .table-extra-condensed>tfoot>tr>th, .table-extra-condensed>thead>tr>td, .table-extra-condensed>tbody>tr>td, .table-extra-condensed>tfoot>tr>td {
  line-height: 1 !important;
  padding: 2px !important;
}
.table-extra-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 2px !important;
}
.form-control:focus {
 -webkit-box-shadow: none !important;
 box-shadow: none !important; 
}

.form-conrol{
  border-radius: 0px;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}

.table-center>thead>tr>th{
  text-align: center;
}
