article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;zoom:1}
audio:not([controls]){display:none}
[hidden]{}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:none}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1px 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:75%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
img,iframe,object,embed{vertical-align:middle}
figure{margin:0}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;outline:none;-webkit-border-radius:none;-moz-border-radius:none;border-radius:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
label{cursor:default}
table{border-collapse:collapse;border-spacing:0}
caption{text-align:left;caption-side:top}
th{text-align:left}
@font-face{font-family:'icomoon';font-weight:normal;font-style:normal;src:url("../font/Hy-Custom.eot");src:url("../font/Hy-Custom.eot?#iefix") format('embedded-opentype'),url("../font/Hy-Custom.svg#icomoon") format('svg'),url("../font/Hy-Custom.woff") format('woff'),url("../font/Hy-Custom.ttf") format('truetype')}
@font-face{font-family:'icomoon-alt';font-weight:normal;font-style:normal;src:url("../font/icomoon-alt.eot");src:url("../font/icomoon-alt.eot?#iefix") format('embedded-opentype'),url("../font/icomoon-alt.svg#icomoon-alt") format('svg'),url("../font/icomoon-alt.woff") format('woff'),url("../font/icomoon-alt.ttf") format('truetype')}
.reset{border:none;margin:0;padding:0;background:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.reset td,.reset th{border:none;background:none;padding:0}
.reset > li,.reset > dt,.reset > dd{margin:0;padding:0;background:none;border:none;font-weight:inherit;float:none;display:inherit;text-align:inherit;width:auto}
.l{float:left;display:inline}
.r{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.cfx{zoom:1;}
.cfx:after,.cfx:before{content:'';display:table;clear:both}
.break{height:1px;font-size:1px;line-height:1px;clear:both;overflow:hidden;visibility:hidden;display:block;margin:0 !important;padding:0 !important;width:100%}
.ctx{zoom:1;display:table-cell;}
.ie7 .ctx{display:block}
.ctx:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
.hide,.js .jsHide{}
.out,.js .jsOut{position:absolute;left:-5000px;top:-5000px}
.vhide{position:absolute;height:1px;width:1px;overflow:hidden;border:0;clip:rect(0 0 0 0);margin:-1px;padding:0}
.left{text-align:left}
.right{text-align:right}
.center{text-align:center}
.lower{text-transform:lowercase}
.upper{text-transform:uppercase}
.bold{font-weight:700}
.thin{font-weight:400 !important}
.slim{font-weight:300}
.italic{font-style:italic}
.normal{font-style:normal}
.top{vertical-align:top}
.middle{vertical-align:middle}
.error,.red{color:#c00}
.green{color:#678713}
.grey{color:#999}
.nowrap{white-space:nowrap}
body{font:400 20px/1.388 'proxima-nova-soft',arial,helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:700;line-height:1.2}
h1{font-size:65px;line-height:1;margin:1.2em -100px .35em}
h2{font-size:25px;font-weight:700;margin:.875em 0 .4em}
h3{font-size:30px;line-height:1.3;margin:1em 0 .357em}
h4{font-size:17px;line-height:1.3;margin:1.136em 0 .454em}
h5{font-size:15px;line-height:1.35;margin:1.388em 0 .5em}
h6{font-size:15px;line-height:1.35;font-weight:400;margin:1.666em 0 .6em}
.dark{color:$dark}
.grey{color:#bbb}
.light{color:$light}
.color{color:#ff3}
p{margin:0 0 1.1em}
a{color:#fff;text-decoration:none;-webkit-transition:color .5s ease;-moz-transition:color .5s ease;-ms-transition:color .5s ease;-o-transition:color .5s ease;transition:color .5s ease;}
a:hover{color:#000}
ul,ol{margin:0 0 1.5em;list-style:none;padding:0}
li{padding:0 0 0 25px;margin:0 0 .2em;background:url("../img/bg/dot-dark.png") 8px .4em no-repeat;}
li ol,li ul{margin:0}
ol{margin:20px 0 0;counter-reset:item;}
ol li{margin:0 0 20px;padding:0 0 0 28px;background:none;position:relative;}
ol li:before,ol li .ie-counter{content:counter(item);counter-increment:item;position:absolute;left:0;top:-1px;width:20px;font-size:16px;font-weight:bold;text-align:left}
.reset-ul,.list-features{margin:0;}
.reset-ul li,.list-features li{padding:0;margin:0;background:none}
dl{margin:0 0 1.5em}
dt{font-weight:bold;text-transform:uppercase;margin:0 0 .4em}
dd{margin:0 0 1em;padding:0}
table{width:100%;clear:both;margin:0 0 2em;empty-cells:show;border-collapse:collapse;border:none}
caption{font-weight:bold;text-align:left;padding:0 0 10px;caption-side:top}
thead{-webkit-box-shadow:0 3px 3px -3px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 3px -3px rgba(0,0,0,0.3);box-shadow:0 3px 3px -3px rgba(0,0,0,0.3)}
td,th{vertical-align:top;padding:8px 15px;border-top:1px solid #4bdb93}
tbody tr:first-child td{border-top:none}
th{font-weight:bold;text-align:left;border-top:none}
thead th{padding:12px 15px 10px;border-bottom:2px solid #f7f7f7;background:#fff;background:-webkit-gradient(linear,left top,left bottom,color-stop(60%,#fff),color-stop(100%,#ececec));background:-webkit-linear-gradient(top,#fff 60%,#ececec 100%);background:-moz-linear-gradient(top,#fff 60%,#ececec 100%);background:-ms-linear-gradient(top,#fff 60%,#ececec 100%);background:-o-linear-gradient(top,#fff 60%,#ececec 100%);background:linear-gradient(top,#fff 60%,#ececec 100%);color:$dark;text-transform:uppercase}
blockquote{display:inline-block;margin:.8em 0 .3em;font:bold 24px/28px $etelkaText;}
blockquote p{margin:0}
blockquote .author{display:block;font-size:14px;text-align:right}
img.left{margin:4px 20px 20px 0;float:left;display:inline}
img.right{margin:4px 0 20px 20px;float:right;display:inline}
.row,.row-main{margin:0;padding:0;zoom:1;}
.row:after,.row-main:after,.row:before,.row-main:before{content:'';display:table;clear:both}
.row-main{text-align:left;max-width:980px;margin:0 auto;padding:0;}
:first-child{margin-top:0px}
:last-child{margin-bottom:0}
.btn{display:inline-block;vertical-align:middle;position:relative;overflow:hidden;margin:0;padding:0;border:0;background:none;text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-touch-callout:none;touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;-webkit-transform:translate3d(0,0,0);}
.btn > span{display:block;background:#11a9de;color:#fff;padding:0 20px;height:46px;font:700 18px/46px 'proxima-nova-soft',arial,helvetica,sans-serif;color:#fff;text-align:center;white-space:nowrap;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.btn > span strong{font-weight:normal}
.btn > span + span{position:absolute;left:0;right:0;top:100%;background:none !important}
.btn:hover,a:hover .btn{text-decoration:none;}
.btn:hover > span,a:hover .btn > span{background-color:#2db8e8}
.btn:active,a:active .btn{top:1px}
.btn-black span{background-color:#000;color:#fff;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}
.btn-black:hover span{color:#000;background-color:#000;}
.btn-black:hover span + span{top:0;color:#fff}
html{height:100%}
body{min-height:100%;min-width:1000px;background:#4bdb93;color:#fff;padding:0 0 0;text-align:center;position:relative}
#header{padding:55px 0 0;margin:-5px 0 30px;font-size:1.3888888888888888em;}
#header h1{font-size:2.6em}
#footer{margin:90px 0 0;padding:0 0 90px;}
#footer .row-main{text-align:center;font-size:.8888888888888888em}
#footer .logo{display:block;margin:10px auto 0 auto;background:url('../img/be_logo.png') no-repeat 50%;background-size:100%;height:64px;width:64px;}
#main{margin-bottom:90px;}
#info{position:absolute;top:0;bottom:0;z-index:99;width:370px;padding:60px 45px 50px 35px;background:#ff3;color:#000;text-align:left;font-size:1.3888888888888888em;}
#info h2{font-size:2.6em;line-height:1;font-weight:500;margin-bottom:.35em}
#info .btn{margin-top:1.2em}
#info .control{position:fixed;top:0;width:65px;font-size:44px;line-height:65px;text-align:center;font-family:'icomoon';}
#info .control span{display:block;-webkit-transition:-webkit-transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out;-ms-transition:-ms-transform .4s ease-out;-o-transition:-o-transform .4s ease-out;transition:transform .4s ease-out;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;vertical-align:middle}
#info .control:hover{text-decoration:none}
#info .slides{margin:0 -30px 0 -20px;}
#info .slide{width:100%;-webkit-transform:translate3d(0,0,0);}
#info .slide > *{padding:0 30px 0 20px}
#info .slide + .slide{}
#info{left:-450px;-webkit-transition:left .4s ease-out;-moz-transition:left .4s ease-out;-ms-transition:left .4s ease-out;-o-transition:left .4s ease-out;transition:left .4s ease-out;}
#info .control{left:0;-webkit-transition:left .4s ease-out;-moz-transition:left .4s ease-out;-ms-transition:left .4s ease-out;-o-transition:left .4s ease-out;transition:left .4s ease-out}
.open-details #info{left:0;}
.open-details #info .control{background:#ff3;color:#000;left:450px;}
.open-details #info .control span{-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg)}
#page{overflow:hidden;position:relative}
#header .row-main,#main .row-main,#footer .row-main,#canvas .row-main{left:0;-webkit-transition:left .4s ease-out;-moz-transition:left .4s ease-out;-ms-transition:left .4s ease-out;-o-transition:left .4s ease-out;transition:left .4s ease-out;}
.open-details #header .row-main,.open-details #main .row-main,.open-details #footer .row-main,.open-details #canvas .row-main{left:500px}
.buy{display:inline-block;position:relative;overflow:hidden;background:#ff3;color:#000;height:46px;font:700 18px/46px 'proxima-nova-soft',arial,helvetica,sans-serif;padding:0 22px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;text-align:center;-webkit-transition:background .5s ease;-moz-transition:background .5s ease;-ms-transition:background .5s ease;-o-transition:background .5s ease;transition:background .5s ease;-webkit-transform:translate3d(0,0,0);}
.buy span{display:block;position:relative;-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;-ms-transition:all .5s ease-out;-o-transition:all .5s ease-out;transition:all .5s ease-out;}
.buy span + span{position:absolute;left:0;right:0;top:100%;color:#fff}
.buy:hover{text-decoration:none;background:#000;}
.buy:hover span + span{top:0}
.buy:active{top:1px}
.iphone-holder{height:590px;margin:40px 0;position:relative;}
.grid {}
.list-features{margin:0 0 0 -50px;}
.list-features > *{display:inline-block;vertical-align:top;width:210px;font-family:'proxima-nova-soft',arial,helvetica,sans-serif;letter-spacing:0;word-spacing:0}
.ie7 .list-features > *{display:inline;zoom:1}
.list-features li{position:relative;margin:0 0 0 50px}
.list-features1 li{position:relative;margin:0 0 0 10px;width:120px;padding-left:50px;}
.list-features h2{margin:0 0 .2em}
.list-features p{margin:0}
.list-features span{position:absolute;left:0;top:0;font-size:50px;line-height:1;font-family:'icomoon'}
.list-features .item-swipe{padding-left:50px;width:120px;}
.list-features .item-swipe-stage{text-align:center;padding-left:20px;width:40px;}
.list-features .item-swipe-stage1{text-align:center;padding-left:50px;width:40px;}
.list-features .item-swipe span{font-size:70px;top:0}
.list-features .item-reminders{padding-left:85px;width:120px;}
.list-features .item-reminders span{font-size:70px;top:3px}
.list-features .item-history{padding-left:50px;width:120px;}
.list-features .item-history1{padding-left:0px;width:100px;}
.list-features .item-history span{font-size:80px;top:-5px}
#share{display;position:absolute;right:65px;top:20px;line-height:46px;padding-right:59px;}
#share .list{position:absolute;top:0;right:0;background:url("../img/iphone.png");}
#share .list strong,#share .list a{position:relative;display:block;width:46px;height:46px;font-size:30px;font-weight:normal;text-align:center;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;background:#fff;color:#4bdb93;margin:0 0 6px;background:url("share.png")}
#share .list strong{cursor:default;background:url("share.png")}
#share .list strong{padding-top:5px;height:41px;background:url("share.png")}
#share .list strong span{position:absolute;top:100%;left:50%;width:1px;height:0;background:url("share.png");-webkit-transition:height .0001s linear;-moz-transition:height .0001s linear;-ms-transition:height .0001s linear;-o-transition:height .0001s linear;transition:height .0001s linear;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
#share .list a{background:#fff;color:#000;-webkit-transition:-webkit-transform .0001s linear, background .0001s ease, color .0001s ease;-moz-transition:-moz-transform .0001s linear, background .0001s ease, color .0001s ease;-ms-transition:-ms-transform .0001s linear, background .0001s ease, color .0001s ease;-o-transition:-o-transform .0001s linear, background .0001s ease, color .0001s ease;transition:transform .0001s linear,background .0001s ease,color .0001s ease;-webkit-transform:scale(0) translate3d(0,0,0);-moz-transform:scale(0) translate3d(0,0,0);-ms-transform:scale(0) translate3d(0,0,0);-o-transform:scale(0) translate3d(0,0,0);transform:scale(0) translate3d(0,0,0);opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
#share .list a:hover{background:#000;color:#fff;text-decoration:none}
/*#share .list .tw{font-size:32px}
#share .list .fb{font-size:32px}
#share .list .gp{font-size:32px}*/
#share .list .pin{font-family:'icomoon-alt';font-size:32px}
#share .list:hover strong span,#share .list.hover strong span{height:135px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
#share .list:hover a,#share .list.hover a{-webkit-transform:scale(1) translate3d(0,0,0);-moz-transform:scale(1) translate3d(0,0,0);-ms-transform:scale(1) translate3d(0,0,0);-o-transform:scale(1) translate3d(0,0,0);transform:scale(1) translate3d(0,0,0);opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-webkit-transition-duration:.3s,.4s,.4s;-moz-transition-duration:.3s,.4s,.4s;-ms-transition-duration:.3s,.4s,.4s;-o-transition-duration:.3s,.4s,.4s;transition-duration:.3s,.4s,.4s}
#share .list:hover .tw,#share .list.hover .tw{-webkit-transition-delay:.1s,.0001s,.0001s;-moz-transition-delay:.1s,.0001s,.0001s;-ms-transition-delay:.1s,.0001s,.0001s;-o-transition-delay:.1s,.0001s,.0001s;transition-delay:.1s,.0001s,.0001s}
#share .list:hover .fb,#share .list.hover .fb{-webkit-transition-delay:.2s,.0001s,.0001s;-moz-transition-delay:.2s,.0001s,.0001s;-ms-transition-delay:.2s,.0001s,.0001s;-o-transition-delay:.2s,.0001s,.0001s;transition-delay:.2s,.0001s,.0001s}
#share .list:hover .gp,#share .list.hover .gp{-webkit-transition-delay:.3s,.0001s,.0001s;-moz-transition-delay:.3s,.0001s,.0001s;-ms-transition-delay:.3s,.0001s,.0001s;-o-transition-delay:.3s,.0001s,.0001s;transition-delay:.3s,.0001s,.0001s}
#share .list:hover .gp,#share .list.hover .pin{-webkit-transition-delay:.3s,.0001s,.0001s;-moz-transition-delay:.3s,.0001s,.0001s;-ms-transition-delay:.3s,.0001s,.0001s;-o-transition-delay:.3s,.0001s,.0001s;transition-delay:.3s,.0001s,.0001s}
#canvas{position:absolute;top:90px;left:-50px;width:80%;}
#canvas .row-main{height:650px;max-width:none}
#iphone{position:absolute;left:50%;top:60px;width:802px;height:530px;background:url("../img/iphone.png");margin:50px 0 0 -361px}
#shadow{position:absolute;left:50%;top:110px;width:916px;height:596px;background:#4bdb93 url("../img/iphone-shadow.png");margin:0px 0 0 -436px}
#splash{position:absolute;top:42px;left:88px;width:641px;height:398px;background:url("../img/screens/splash.png")}
#screens{display:none;position:absolute;top:151px;left:50%;width:641px;height:398px;margin:0 0 0 -273px;background:url("../img/screens/overlay.png");}
#screens .screen{width:641px;height:398px;}
#screens .screen + .screen{display:none}
#circles{position:absolute;top:386px;left:50%;z-index:19;width:131px;height:92px;margin:0 0 0 -165px;}
#circles .circle{opacity:0;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transition:all .6s ease-out;-moz-transition:all .6s ease-out;-ms-transition:all .6s ease-out;-o-transition:all .6s ease-out;transition:all .6s ease-out;}
.ie7 #circles .circle,.ie8 #circles .circle{display:none}
#circles .zoom{opacity:1;}
.ie7 #circles .zoom,.ie8 #circles .zoom{display:block}
#circle-1{background:url("../img/circle-1.png") 50% 50% no-repeat}
#circle-2{background:url("../img/circle-2.png") 50% 50% no-repeat}
#circle-3{background:url("../img/circle-3.png") 50% 50% no-repeat}
#hand{position:absolute;z-index:20;top:100px;left:0;width:603px;height:369px;background:url("../img/hand.png");margin:8px 0 0 -673px;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.ie7 #hand,.ie8 #hand{background:url("../img/hand-8.png")}
#preloader{position:fixed;left:50%;top:50%;margin:-150px 0 0 -150px;background:#4bdb93 url("../img/logo.png") 50% 0 no-repeat;}
#preloader div{width:300px;height:300px;background:url("../img/ajax.gif") 50% 100% no-repeat}
#email-signup {
	position: relative;
	margin-top: -0.5em;
	width: 100%;
	z-index: 1;
}
#email-signup p {margin-bottom:5px;}

#email-signup p a {color: #ffff33;}

#email-signup p.small {
	clear: both;
	font-size: 12px;
	line-height: auto;
	margin-top:-25px;
	width:400px;
}
#email-signup form {
	position:relative;
	width:100%;
}
#email-signup label {display: none;}
#email-signup form a {
	font-size:11px;
	position: absolute;
	top: -25px;
	left:340px;
}
#email-signup #email {
	background-color:#fff;
	border:none;
	border:1px solid #018eb1;
	border-radius: 5px;
	display:block;
	float:left;
	font-family:'proxima-nova-soft',arial,helvetica,sans-serif;	
	font-size:16px;
	margin-right:10px;
	padding:10px 5px;
	width:400px;
}
#email-signup #email:focus{background-color:#fff;}
#email-signup button#submit {
	background: transparent url('../img/app_badge.png') no-repeat 50%;
	background-size:contain;
	border:none;
	display:block;
	color:#ffff33;
	float:left;
	font-family:'proxima-nova-soft',arial,helvetica,sans-serif;	
	font-size: 18px;
	font-weight:bold;
	height: 80px;
	margin-top: -20px;
	overflow: hidden;
	text-indent: -9999px;
	width:175px;
}
.center {
	text-align: center;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

#download-app{
	padding-right:59px;
}

.benefits li span { display: block; float: left; width: 60px; height: 60px; margin-top: 10px; }
.benefits li span#meals { background: url('/img/sprites.png') no-repeat 0 0; }
.benefits li span#plans { top: -8px; background: url('/img/sprites.png') no-repeat 0 -300px; }
.benefits li span#water { background: url('/img/sprites.png') no-repeat 0 -60px; }
.benefits li span#vitamins { background: url('/img/sprites.png') no-repeat 0 -120px; }
.benefits li span#hospital { background: url('/img/sprites.png') no-repeat 0 -180px; }
.benefits li span#kitchen { background: url('/img/sprites.png') no-repeat 0 -240px; }
